body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(120deg,#74ebd5,#9face6);
    margin:0;
    padding:40px;
    display:flex;
    justify-content:center;
}

.container{
    background:white;
    width:500px;
    padding:35px;
    border-radius:12px;
    box-shadow:0 12px 30px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

h2{
    margin-top:25px;
    font-size:18px;
    color:#444;
    border-bottom:1px solid #ddd;
    padding-bottom:5px;
}

label{
    display:block;
    margin-top:15px;
    font-weight:600;
    color:#333;
}

select{
    width:100%;
    padding:10px;
    margin-top:6px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

button{
    margin-top:25px;
    width:100%;
    padding:14px;
    background:#2e86de;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1b4f72;
}